<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* 整体页面布局，使内容垂直水平居中 */
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
        }

        /* 按钮样式 */
        button {
            width: 200px;
            height: 100px;
            font-size: 20px;
            background-color: green;
            color: white;
            border: none;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <button onclick="window.location.href='https://pay.aikelaidev.cn/pay/submit/2024111917060957594/';">点击支付</button>
</body>

</html>